/* ========== CSS NORMALIZE ========== */

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =================Fonte================== */

@font-face {
    font-family: "Get Schwifty";
    src: url(get_schwifty.ttf)
    format("TrueType");
}

/* ======================================== */


html {
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border: 3px solid red;
} 

body {
    max-height: 100vh;
    aspect-ratio: 9/16;
    margin: auto;
    overflow: hidden;
    background-color: #7777FF;
    border: 3px solid #000077;
}

h1{
    font-family: "Get Schwifty";
    font-size: 36px;
}

header {
    background-color: #FFFF33;
    border: 3px solid #777700;
}

footer {
    background: #33FF33;
    border: 3px solid #007700;
}