/* ========== CSS NORMALIZE ========== */

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =================Fonte================== */

@font-face {
    font-family: "Ricky and Morty font";
    src: url(Ricky-and-Morty-font.ttf)
    format("TrueType");
}
/* ======================================== */


html {
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border: 3px solid red;
} 

body {
    max-height: 100vh;
    aspect-ratio: 9/16;
    margin: auto;
    overflow: hidden;
    background-color: #7777FF;
    border: 3px solid #000077;
}

h1{
    /* font-family: "Get Schwifty"; */
    font-family: "Ricky and Morty font";
    font-size: 72px;
    font-weight: bolder;
    color: #0FAFC7;
    -webkit-text-stroke: 0.1px #9DE989;
    text-align: center;
}

header {
    height: 12.5%;
    background-color: #000000;
    border: 3px solid #FFFF00;
}

main {
    display: flex;
    flex-direction: column;
    height: 85%;
}

img {
    
    height: 58.8%;
    width: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

#grid-container {
    height: 32.4%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    font-size: 30px;
}

.keys {
    text-align: right;
    background-color: pink;
    border: solid #000000;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 3px;
    margin: 2px;
    margin-right: 0px;
}

.values {
    text-align: left;
    background-color: aqua;
    border: solid #000000;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    padding: 3px;
    margin: 2px;
    margin-left: 0px;
}

button {
    height: 8.8%;
    font-size: 36px;
    width: 50%;
    margin: 0 auto;
    
}

footer {
    height: 2.5%;
    background: #33FF33;
    border: 3px solid #007700;
    text-align: center;
    font-size: 18px;
}